#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.container {
  display: flex;
  justify-content: center;
  text-align: center;
}

.light {
  width: 150px;
  height: 150px;
  border: 1px solid gray;
  border-radius: 100%;
  margin: 15px 0;
}

.light:not(.on) {
  background-color: gray;
  border-color: gray;
}

.stop {
  background-color: red;
  border-color: red;
}

.slow {
  background-color: orange;
  border-color: orange;
}

.go {
  background-color: green;
  border-color: green;
}
